version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
      - backend3

  backend1:
    build: .
    environment:
      - SERVER_NAME=backend1

  backend2:
    build: .
    environment:
      - SERVER_NAME=backend2

  backend3:
    build: .
    environment:
      - SERVER_NAME=backend3
